PRIVATE_KEY={{PRIVATE_KEY}}
GITHUB_CLIENT_ID={{GITHUB_CLIENT_ID}}
GITHUB_CLIENT_SECRET={{GITHUB_CLIENT_SECRET}}
GITHUB_CALLBACK_URL={{GITHUB_CALLBACK_URL}}
PORT={{PORT}}
MONGO_URL={{MONGO_URL}}
GMAIL_ACCOUNT={{GMAIL_ACCOUNT}}
GMAIL_APP_PASSWD={{GMAIL_APP_PASSWD}}
RESET_PASSWORD_KEY={{RESET_PASSWORD_KEY}}
ADMIN_EMAIL={{ADMIN_EMAIL}}
STRIPE_PK={{STRIPE_PK}}
STRIPE_SK={{STRIPE_SK}}